CERT_DIR=/root/cert

# ===== 3x-ui =====
X_UI_DATA=./3x-ui/db
X_UI_PORT_443=443
X_UI_PORT_40404=40404

# ===== telemt =====
TELEMT_DATA=./telemt/data
TELEMT_PORT=8443
TELEMT_STATS_PORT=9091

# ===== portainer =====
PORTAINER_DATA=./portainer/data
PORTAINER_PORT=9443
PORTAINER_AGENT_PORT=8000

NODE_NAME=agghhh.click


SNAPPYMAIL_ADMIN_USER=admin
SNAPPYMAIL_ADMIN_PASS=change_me123*838jUGHIHU8989&**#&*
