CERT_DIR=/root/cert
# CERT_DIR=Z:\MY\CheapSSL\vkosarev.name

XUI_PORT=2055

GRAFANA_ADMIN_PASSWORD=changeme
GRAFANA_DATA=./grafana/data

PROMETHEUS_DATA=./prometheus/data
PORTAINER_DATA=./portainer/data
